<!DOCTYPE html>
<html>
  <head>
    <link
      rel="preconnect"
      href="https://{{ site.github.username.redirect }}.{{ site.github.domain.pages }}"
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="{{ site.url }}/favicon.ico" />
    <title>{{ page.title }} / Lhuune Org.</title>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
    <link href="{{ site.url }}/assets/css/main.css" rel="stylesheet" />
    <script>
      // Remove TailwindCSS CDN Error
      console.clear();
    </script>
  </head>
  <body>
    <div
      class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8"
      id="start"
    >
      <img
        class="inline rounded-full mx-auto border-2 border-indigo-600 shadow-2xl"
        id="avatar"
        src="https://avatars.githubusercontent.com/u/165438431?s=200&v=4"
        alt="My avatar on GitHub"
        width="200"
        height="200"
        draggable="false"
      />
      <h1
        class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl text-indigo-600"
      >
        <span id="nickname">Lhuune Org.</span> <br />
        <div class="text-xl -mt-2 mb-2">
          @<span id="atnickname">Lhuune</span>
        </div>
      </h1>
      <div class="leading-7 text-indigo-200 force-text-color-on-preview">
        {{ content }}
      </div>
    </div>
  </body>
</html>
